<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>  
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <style>
    body{
    	background: #EEEEEE;
    	font: 100%/1.5 "Microsoft YaHei","Lucida Grande",Verdana;
    }
    a{
    	color:blue;
    }
    table{
    	border-collapse: collapse;
    }
    th{
    	background-color: #DDDDDD;
    	padding: 3px 8px;
    	text-align:left;
    }
    td{
    	padding: 3px 8px;
    }
    button{
    	background-color: lightblue;
    	font: 100%/1.5 "Microsoft YaHei","Lucida Grande",Verdana;
    }
    {% block style %}{% endblock %}
    </style>
    <script type="text/javascript">
    {% block script %}{% endblock %}
    </script>
</head>  
<body>
	{% block banner %}
	<div style='width:100%; text-align:right;background-color:#CCCCCC'>欢迎使用LSMS学生信息管理系统！
	{% if user and user.is_authenticated %}
	当前用户：{{user}}. <a href='/accounts/modifyPassword/'>修改密码</a>|<a href='/accounts/logout/'>退出登录</a>
	{% endif %}
	</div>
	<div style='clear:both;'></div>  
    <div style='width:100%; font:235%/1.5 "Microsoft YaHei","Lucida Grande",Verdana; text-align:center; background-color: #DDDDDD'  onclick='javascript:window.location.href="/"'>LSMS 学生信息管理系统</div>
    {% endblock %}
    {% block nav %}
    
    {% endblock %}
    {% block content %}{% endblock %}   
    {% block footer %}   
    <hr>
    <div style="text-align:center; width:100%; font-size:75%">Copyright © 2012 Taoyuan 715 First-blood Squad. All rights reserved. <a href="#">Terms of Use</a> · <a href="#">Privacy Policy.</a></div>  
    {% endblock %}   
</body>  
</html>