{% extends "base.html" %}     
{% block title %}Grade a course{% endblock %}
{% block script %}
function save()
{
	f=document.fgrade;
	s=document.data_submit;
	rec_count=f.sid.length;
	pdata='{"cid":"'+f.cid.value+'","scores":[';
	if(rec_count==undefined)
	{
		if(f.sid.value==''||f.escore.value==''||f.nscore.value=='') return alert('All score fields must be filled!');
		item='{"sid":'+f.sid.value+',"escore":'+f.escore.value+',"nscore":'+f.nscore.value+'},';
		pdata+=item;
	}
	for(i=0;i<rec_count;i++)
	{
		if(f.sid[i].value==''||f.escore[i].value==''||f.nscore[i].value=='') return alert('All score fields must be filled!');
		item='{"sid":'+f.sid[i].value+',"escore":'+f.escore[i].value+',"nscore":'+f.nscore[i].value+'},';
		pdata+=item;
	}
	pdata+=']}';
	s.ssheet.value=pdata;
	s.submit();
}
{% endblock %}     
{% block content %}   
<p>
Class Name:{{clname}}<br />
Course Name:{{crname}}<br />
Teacher Name:{{tname}}<br />
Exam Weight:{{ew}}%
</p>
<form name="fgrade">
<table>
<tr><td>Student Number</td><td>Student Name</td><td>Exam Score</td><td>Non-exam Score</td></tr>
{% for rec in slist %}
<tr>
	<td>{{rec.sid}}<input type="hidden" name="sid" value="{{rec.sid}}" /></td>
	<td>{{rec.sname}}</td>
	<td><input type="text" name="escore" value="{% ifequal rec.escore -1 %}{% else %}{{rec.escore}}{% endifequal%}" /></td>
	<td><input type="text" name="nscore" value="{% ifequal rec.nscore -1 %}{% else %}{{rec.nscore}}{% endifequal%}" /></td>
</tr>
{% endfor %}
</table>
<input type="hidden" name="cid" value="{{crid}}" />
</form>
<form name="data_submit" action="/new/stuscore/" method="post">
<input type="hidden" name="ssheet" value="" />
<input type="button" value="Submit" onclick="save()"/>
</form>
{% endblock %}  