{% extends "base.html" %}     
{% block title %}List Course{% endblock %}
{% block script %}
{% endblock %}     
{% block content %}   
<p>
{% if crl %}Courses you teach are listed below:{% endif %}
{% if cl %} Please select a class:{% endif %}
</p>
<table>
{% if crl %}
<tr><td>Course ID</td><td>Course Name</td><td>Course Type</td><td>Course Credit</td><td>Exam Weight</td><td></td></tr>
{% for c in crl %}
<tr><td>{{c.courseId}}</td><td>{{c.courseTitle}}</td><td>{{c.courseType}}</td><td>{{c.courseCredit}}</td><td>{{c.examWeight}}</td><td><a href="?crid={{c.courseId}}">Go to Classes</a></td></tr>
{% endfor %}
{% endif %}
{% if cl %}
<tr><td>Class ID</td><td>Class Name</td></tr>
{% for c in cl %}
<tr><td>{{c.cid}}</td><td><a href="?crid={{cr}}&clid={{c.cid}}">{{c.cname}}</a></td></tr>
{% endfor %}
{% endif %}
</table>
{% endblock %}  