{% extends "base.html" %}     
{% block title %}New Notification{% endblock %}
{% block script %}
{% endblock %}     
{% block content %}   
<p>Release a new notification:</p>
<form name="fNewnoti" action="/new/stunoti/" method="post" id="fNewnoti">
Notification Title:<input type="text" size=100 name="ntitle" /><br />
Notification Body:<br /><textarea rows="10" cols="100" name="nbody"></textarea><br />
Notification Class:
<select name="nclass">
{% for c in cl %}
<option value='{{c.cid}}'>{{c.cname}}</option>
{% endfor %}
</select><br />
Expire Date:<input type="text" size=25 name="edate" /><br />
<input type="submit" value="Submit" />
</form>  
{% endblock %}  