{% extends "base.html" %}     
{% block title %}Generate Performance{% endblock %}
{% block script %}
{% endblock %}     
{% block content %}   
<p>Please fill in the form!</p>
<form name="fNewperf" action="/new/stuperf/" method="post" id="fNewperf">
Target Class:
<select name="cid" >
{% for c in cl %}
<option value='{{c.cid}}'>{{c.cname}}</option>
{% endfor %}
</select> 
Term:
<select name="term" >
<option value=1>第1学期</option>
<option value=2>第2学期</option>
<option value=3>第3学期</option>
<option value=4>第4学期</option>
<option value=5>第5学期</option>
<option value=6>第6学期</option>
<option value=7>第7学期</option>
<option value=8>第8学期</option>
</select> 
Academic Score Weight:<input type="text" size=3 name="aweight" value="80"/> 
<input type="submit" value="Submit" />
</form>  
{% endblock %}  