<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>  
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <style>
    body{
    	background: #EEEEEE;
    	font: 12px arial;
    }
    {% block style %}{% endblock %}
    </style>
    <script type="text/javascript">
    {% block script %}{% endblock %}
    </script>
</head>  
<body>  
    <h1>Keng-Daddy Student Management System</h1>
    {% block nav %}{% endblock %}
    {% block content %}{% endblock %}   
    {% block footer %}   
    <hr>
    <p>Copyright © 2012 Taoyuan 715 First-blood Squad. All rights reserved. <a href="#">Terms of Use</a> · <a href="#">Privacy Policy.</a></p>  
    {% endblock %}   
</body>  
</html>