{% extends "base.html" %}     
{% block title %}List Performance{% endblock %}
{% block style %}
th,td{
	border: 1px solid black;
	padding: 3px 8px;
}
p{
	background-color:#DDDDDD;
}
{% endblock %}
{% block script %}
{% endblock %}    
{% block banner %}{% endblock %} 
{% block content %}   
<p style='width:100%;background-color:#DDDDDD;font-size:150%'>成绩单[{{extra.course_info}}-{{extra.class_info}}]:</p>
<table id='basicinfo'>
<tr><th>班级：</th><td>{{extra.class_info}}</td>
<th>课程：</th><td>{{extra.course_info}}</td>
<th>任课教师：</th><td>{{extra.course_info.teacher}}</td>
<th>考试比重：</th><td>{{extra.course_info.exam_weight}}%</td></tr>
</table>
<br />
<table width=100%>
<tr>
	<th><a href='?order=id'>学号</a></th>
	<th>学生姓名</th>
	<th><a href='?order=-exam_score'>考试成绩</a></th>
	<th><a href='?order=-non_exam_score'>非考试成绩</a></th>
	<th><a href='?order=-final_score'>最终成绩</a></th>
{% for rec in content %}
<tr>
	<td>{{rec.student.id}}</td>
	<td>{{rec.student}}</td>
	<td>{{rec.exam_score}}</td>
	<td>{{rec.non_exam_score}}</td>
	<td>{{rec.final_score}}</td>
</tr>
{% endfor %}
</table>
{% endblock %}  
{% block footer %}{% endblock %}