{% extends "base.html" %}     
{% block title %}Grade a course{% endblock %}
{% block style %}
#basicinfo th,#basicinfo td{
	border: 1px solid black;
	padding: 3px 8px;
}
p{
	background-color:#DDDDDD;
}
{% endblock %}
{% block script %}
{% endblock %}    
{% block banner %}{% endblock %} 
{% block content %}   
<p style='width:100%;background-color:#DDDDDD;font-size:150%'>录入成绩[{{extra.course_info}}-{{extra.class_info}}]:</p>
<table id='basicinfo'>
<tr><th>班级：</th><td>{{extra.class_info}}</td>
<th>课程：</th><td>{{extra.course_info}}</td>
<th>任课教师：</th><td>{{extra.course_info.teacher}}</td>
<th>考试比重：</th><td>{{extra.course_info.exam_weight}}%</td></tr>
</table>
<br />
<form action="" method="post">
{{formset.management_form}}
<table>
<tr><th>学号</th><th>学生姓名</th><th>考试成绩</th><th>非考试成绩</th></tr>
{% for rec in formset %}
<tr>
	<td>{{rec.instance.student.id}}{{rec.id}}</td>
	<td>{{rec.instance.student}}</td>
	<td>{{rec.exam_score}}</td>
	<td>{{rec.non_exam_score}}</td>
</tr>
{% endfor %}
</table>
<input type="submit" value="提交"/>
</form>
{% endblock %}  
{% block footer %}{% endblock %} 