{% extends "base.html" %}     
{% block title %}List Performance{% endblock %}
{% block script %}
{% endblock %}     
{% block content %}   
<p>
Class Name:{{extra.class_info}}<br />
Course Name:{{extra.course_info}}<br />
Teacher Name:{{extra.course_info.teacher}}<br />
Exam Weight:{{extra.course_info.exam_weight}}%<br />
<a href="/new/stuscore?crid={{crid}}&clid={{clid}}">Grade</a>
</p>
<table>
<tr>
	<td><a href="?crid={{crid}}&clid={{clid}}&orderby=stuId">Student Number</a></td>
	<td>Student Name</td>
	<td><a href="?crid={{crid}}&clid={{clid}}&orderby=-examScore">Exam Score</a></td>
	<td><a href="?crid={{crid}}&clid={{clid}}&orderby=-nonExamScore">Non-exam Score</a></td>
	<td><a href="?crid={{crid}}&clid={{clid}}&orderby=-finalScore">Final Score</a></td></tr>
{% for rec in content %}
<tr>
	<td>{{rec.student.id}}</td>
	<td>{{rec.student}}</td>
	<td>{{rec.exam_score}}</td>
	<td>{{rec.non_exam_score}}</td>
	<td>{{rec.final_score}}</td>
</tr>
{% endfor %}
</table>
 
{% endblock %}  