{% extends "base.html" %}     
{% block title %}Student Course Score--{{stuInfo.stuName}}{% endblock %}
{% block style %}
#basicinfo th,#basicinfo td{
	border: 1px solid black;
	padding: 3px 8px;
}
p{
	background-color:#DDDDDD;
}
{% endblock %}
{% block script %}
function delconfirm()
{
	return confirm("Are you sure to delete this event? This process cannot be undone.")
}
{% endblock %}     
{% block banner %}{% endblock %}
{% block content %}   
<p style='width:100%;background-color:#DDDDDD;font-size:150%'>学生成绩[{{extra.name}}]:</p>
<table id='basicinfo'>
<tr><th>学号</th><td>{{extra.id}}</td>
<th>学生姓名</th><td>{{extra.name}}</td>
<th>出生日期</th><td>{{extra.birth}}</td>
<th>性别</th><td>{{extra.gender}}</td>
<th>班级</th><td>{{extra.class_obj}}</td>
<th>系统帐号</th><td>{{extra.user}}</td></tr>
</table>
<p>
<table width=100%>
<tr>
	<th>课程名称</th>
	<th>授课教师</th>
	<th>课程学分</th>
	<th>课程类型</th>
	<th>开课学期</th>
	<th>考试成绩</th>
	<th>非考试成绩</th>
	<th>最终成绩</th>
</tr>
{% for rec in content %}
<tr>
	<td>{{rec.course}}</td>
	<td>{{rec.course.teacher}}</td>
	<td>{{rec.course.credit}}</td>
	<td>{{rec.course.course_type}}</td>
	<td>{{rec.term}}</td>
	<td>{{rec.exam_score}}</td>
	<td>{{rec.non_exam_score}}</td>
	<td>{{rec.final_score}}</td>
</tr>
{% endfor %}
</table>
{% endblock %}  
{% block footer %}{% endblock %}