{% extends "base.html" %}     
{% block title %}Student Course Score--{{stuInfo.stuName}}{% endblock %}
{% block script %}
{% endblock %}     
{% block content %}   
<p>Student Course Score:</p>
<table>
Term Filter::<a href='?term=-1'>[All Terms]::</a>|
<a href='?term=1'>[Term 1]</a>| <a href='?term=2'>[Term 2]</a>| <a href='?term=3'>[Term 3]</a>| <a href='?term=4'>[Term 4]</a>|
<a href='?term=5'>[Term 5]</a>| <a href='?term=6'>[Term 6]</a>| <a href='?term=7'>[Term 7]</a>| <a href='?term=8'>[Term 8]</a>
<hr>
<tr><td>Course Name</td><td>Teacher Name</td><td>Course Credit</td><td>Course Type</td><td>Term</td><td>Exam Score</td><td>Non-exam Score</td><td>Final Score</td></tr>
{% for c in content.courses %}
{{c.put_row}}
{% endfor %}
</table>

{% endblock %}  